{% block meta %}
    <title>Bookmark</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<style>
    body{
        background-color: #F5F2ED;
        background-repeat: no-repeat;

       
        font-family: 'Baskerville Regular', Baskerville;
    }
    h1{
        font-size: 70;
        text-align: center;
        padding-top: 50;
        top: auto;
    }
    p{
        color: #37465D;
        font-size: 30;
    }
</style>
<img src="https://raw.githubusercontent.com/PBP-D-11-2023/Wisdom-Repository/anisha/assets/images/bookmark.png">
<h1>Bookmark</h1>

<p>{{name}}</p> 
<h5>{{member}}</h5>
<p>D11</p>
<p>List of Books</p>
<table id="product_table"></table>
{% endblock content %}
<script>
    async function getProducts() {
        return fetch("{% url 'authentication_bookmark:get_bookmark_json' %}").then((res) => res.json())
    }

    async function refreshProducts() {
        document.getElementById("product_table").innerHTML = ""
        const products = await getProducts()
        let htmlString = `<tr>
            <th>Judul</th>
            <th>Price</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>`
        products.forEach((item) => {
            htmlString += `\n<tr>
            <td>${item.fields.judul}</td>
            <td>${item.gambar}</td>
        </tr>` 
        })
        
        document.getElementById("product_table").innerHTML = htmlString
    }

    refreshProducts()
</script>

