<header data-bs-theme="light">
    <nav class="navbar navbar-expand-md fixed-top bg-light" id="navbar-1">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'daftar_buku:show_main' %}">
                <img src="https://raw.githubusercontent.com/PBP-D-11-2023/Wisdom-Repository/anisha/assets/images/wr%20logo.png"
                    alt="Logo" width="156" height="52" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                <ul class="nav justify-content-end me-3">
                    <li class="nav-item me-2">
                        <a class="nav-link active text-dark"
                            href="{% url 'authentication_bookmark:show_bookmark' %}">Bookmark</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link active text-dark"
                            href="{% url 'pinjam_buku:show_pengembalian' %}">Returned</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link active text-dark" href="{% url 'pinjam_buku:list_pinjam' %}">Borrowed</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link active text-dark" href="{% url 'authentication_bookmark:logout' %}">LogOut</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>